<%- include("../layout/header"); %>
<%- include("../layout/sidebar"); %>

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                
            </div>
            
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>User KYC</h2>
                            
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed table-hover dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Doc Type</th>
                                            <th>Document Number</th>
                                            <th>Docs</th>
                                            <th>Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Doc Type</th>
                                            <th>Document Number</th>
                                            <th>Docs</th>
                                            <th>Status</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% var i=1;data.forEach(function(datas){ %>
                                            <tr style="background-color:<%= datas.color %>;color:black">
                                                <td style="width:100px"><%= i %></td>
                                                <td style="width:100px"><%= datas.name %></td>
                                                <td style="width:100px"><%= datas.mobile %></td>
                                                <td style="width:100px"><%= datas.types %></td>
                                                <td style="width:100px"><%= datas.document_number %></td>
                                                <td style="width:100px">
                                                    <div class="demo-google-material-icon">
                                                        <a href="/prodsite/documents/<%= datas.id %>">
                                                            <i class="material-icons">remove_red_eye</i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td style="width:100px"><%= datas.verify_status %></td>
                                            </tr>
                                        <% i++;}); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>
<%- include("../layout/datatable"); %>
