<!-- Jquery Core Js -->
    <script src="<%= baseurl %>assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="<%= baseurl %>assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="<%= baseurl %>assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="<%= baseurl %>assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="<%= baseurl %>assets/plugins/node-waves/waves.js"></script>

    <!-- Ckeditor -->
    <script src="<%= baseurl %>assets/plugins/ckeditor/ckeditor.js"></script>

    <!-- TinyMCE -->
    <script src="<%= baseurl %>assets/plugins/tinymce/tinymce.js"></script>

    <!-- Custom Js -->
    <script src="<%= baseurl %>assets/js/admin.js"></script>
    <script src="<%= baseurl %>assets/js/pages/forms/editors.js"></script>

    <!-- Demo Js -->
    <script src="<%= baseurl %>assets/js/demo.js"></script>
</body>

</html>